.gfield_select{
  padding:7px;
}
.gform_button{
  @extend .btn;
  @extend .btn-primary;
}

li.gfield{
  margin-bottom:17px;
}

.gform_wrapper .top_label li.gfield.gf_left_half,
.gform_wrapper .top_label li.gfield.gf_right_half{
  margin: 0 0 1.2em;
}